# Google OAuth Configuration
VITE_GOOGLE_CLIENT_ID=google-client-id

# Backend API URLs - Microservice Architecture
VITE_API_URL=http://localhost:8000/api
VITE_OPENTRIP_API_URL=http://localhost:8005/api
VITE_PLANNER_API_URL=http://localhost:8001/api
