# Django Settings
SECRET_KEY=secret-key
DEBUG=True
ALLOWED_HOSTS=allowed-host1,allowed-host2

# Database Settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port

# CORS Settings
CORS_ALLOWED_ORIGINS=allowed-origin1,allowed-origin2

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret