# Django Settings
SECRET_KEY=secret-key
DEBUG=True
ALLOWED_HOSTS=allowed-host1,allowed-host2

# Database Settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port